.fancy {font-family: 'thaisans_neueregular';}
.text-bold {font-weight: bold;}
.codesk-counter-column {text-align:center;width:80px;}
img.photo {border:4px solid #ffffff;box-shadow: 1px 1px 4px;width:100%;}