@font-face{
    font-family:'supermarket';
    src:url("../fonts/supermarket-webfont.eot");
    src:
        url("../fonts/supermarket-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/supermarket-webfont.woff") format("woff"),
        url("../fonts/supermarket-webfont.tff") format("truetype");
    font-weight:normal;
    font-style:normal;
    letter-spacing:0.1em;
}
.navbar.navbar-green {background-color:#135F46;}
.nav-header {font-weight: bold;font-size: smaller;color:#696969;}
.text-bold {font-weight: bold;}
#page {
    padding-top:10px;
}
.control-text {padding-top:7px;}
.fancy {
    font-family: supermarket;
}
.bg-gray {background: #f9f9f9;}
.topic {
    font-family: supermarket;
    font-size:22px;
    padding:4px 8px;
    border-left:9px solid #7b21a8;
    background:#F9F9F9;
    margin-bottom: 15px;
}
.info-box.bg-success {
    border: 1px solid #85CE95;
}
.grid-view {
    font-size:smaller;
}

.grid-view thead {
    background: #674073;
    color: #ffffff;
}
.grid-view thead a {
    color: #ffffff;
}

.nav-menu-icon {margin-right: 8px;}

.text-white {color:#ffffff;}
.text-sm {font-size:small;}
.text-bold {font-weight: bold;}
.label a.text-white:hover {color:#ffffff;text-decoration: none;}

.exam-task-item {float:left;}
.exam-task-item label {width:32px;font-size: small;text-align: right;}

.icon-status {margin:0px 5px;}


.event-holiday {background: #ce2020;}

.nav-tabs+.btn-toolbar {margin-top: 15px;}

.info-box {border-radius: 6px;padding:8px;}
.info-box.bg-info {border:1px solid #AEBBCE;}
.info-box.bg-warning {border:1px solid #DEC67C;}
.info-box.bg-danger {border:1px solid #CE8585;}

.text-small {font-size: 0.85em;}
.text-underline {text-decoration: underline;}
.border-bottom {border-bottom: 2px solid #254560;}

.ui-datepicker{z-index: 1051 !important;}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

.subtopic {
    border-bottom: 3px solid #f8eaf8;
}

.ui-datepicker{z-index: 1051 !important;}
.datepicker  {z-index: 1051 !important;}

.margin-bottom {margin-bottom: 15px;}

.nav-list li.active a {background:#b98fc5;color:#ffffff};
